<div class="container">
<% if @tool[:user_id] != current_user.id %>
<%= "Sorry, this isn't your tool to edit." %>
<% else %>
  <div class="form">
    <h3>Edit Your Tool</h3>
    <%= simple_form_for @tool do |f| %>
      <%= f.input :category, collection: ['Power Tools', 'Hand Tools', 'Landscaping', 'Automotive', 'Machinery', 'Other Tools'] %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <%= f.input :location %>
      <div class="btn btn-flat"><%= f.button :submit, 'Update Tool' %></div>
    <% end %>
  </div>
<% end %>
</div>
