<div class="container">
<% if @tool[:user_id] != current_user.id %>
<%= "Sorry, this isn't your tool to edit." %>
<% else %>
  <div class="form">
    <h3>Edit Your Tool</h3>
    <%= simple_form_for @tool do |f| %>
      <%= f.input :category, collection: ['Power Tools', 'Hand Tools', 'Landscaping', 'Automotive', 'Machinery', 'Other Tools'] %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.input :location %>
      <div><%= f.button :submit, 'Update Tool', class: "btn btn-ghost" %></div>
    <% end %>
  </div>
<% end %>
</div>
