<div class="container">
<div class="form">
  <h3>Add Tool</h3>
    <%= simple_form_for [@tool] do |f| %>
    <%= f.input :category, collection: ['Power Tools', 'Hand Tools', 'Automotive Tools', 'Plumbing Tools', 'Gardening Tools', 'Other Tools'] %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :location %>
    <div class="btn btn-flat"><%= f.button :submit, 'Add Tool' %></div>
    <% end %>
</div>
</div>
