<div class="showpage p-4">

  <div>
    <h1 class="tool_namer"><%= @tool.name %></h1>
  </div>
  <div class="top_show_grid">
    <div class="image_box">
      <% if @tool.photos.attached? %>
        <% @tool.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill, height: 400, width: 400 %>
        <% end %>
      <% end %>
      <h3 class="tool_cost">$<%= @tool.price %></h3>
    </div>
    <div class="map_box">
      <div
        id="map"
        style="width: 670px;
        height: 500px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

    </div>
  </div>
  <br>


    <div class="user_profile p-2">
      <h3><%= link_to @tool.user.first_name %></h3>
        <%#= cl_image_tag "https://res.cloudinary.com/dsp3264/image/upload/v1582695374/user_nuk9hx.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    </div>
  <br>
  <div class="show-grid">
    <div class="tool_desc">
      <p class="tool_desc_pg"><%= @tool.description %></p>
      <p class="tool_loca">Location: <%= link_to @tool.location %></p>
    </div>

    <div class="show-grid-form">
      <%= render partial: 'shared/booking_form', locals: { tool: @tool } %>

    </div>

  </div>
</div>

