<div class="showpage p-4">
<h2>Your Bookings for this Tool: <%= @tool.name  %></h2>
  <div class="line"></div>



  <% @bookings.each do |booking| %>
    <div>
      <div>$<%= booking.price_total  %></div>
      <div>Booked by: <%= booking.user.first_name %>
      <%= booking.user.last_name %></div>
      <div>From: <%= booking.start_date %>
         Until: <%= booking.end_date %>
      </div>
    </div>
  <% end %>
</div>


