<div class="showpage p-4">
Your Bookings for this tool.
<!-- dynamically render a tool name. -->
<!-- if else to protect against no bookings. -->
  <div>
    <%= @tool.name  %>
    <%= @tool.category  %>
    <%= @tool.price  %>
    <%= @tool.description  %>
    <%= @tool.location  %>
  </div>


</div>


