<div class="container">
  <br>
  <h1>Confirmation</h1>
  <div class="confirm_grid">
    <div>
      <div class="image_box">
        <%= cl_image_tag @tool.photos.first.key, crop: :fill, width: 700, height: 500 %>
      </div>
    </div>
    <div class="booking_form">
      <div>
        <h2 class="tool_namer"><%= @tool.name %></h2>
      </div>
      <%= simple_form_for [@tool, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true, input_html: {value: "#{@start_date}"}%>
        <%= f.input :end_date, as: :date, html5: true, input_html: {value: "#{@end_date}"}  %>
          <div class="price_total">
            <p>   Total Price: $500</p>
          </div>
        <%= f.button :submit, 'Confirm Booking', class: 'btn btn-ghost' %>
        <%= link_to 'CANCEL', root_path, class: 'btn btn-flat'  %>
      <% end %>
    </div>
  </div>
</div>
