<div class="container">
  <br>
      <div class="line text-center">
    <h3> Your <%= @booking.tool.name %> booking </h3>
    </div>
    <br>
  <div class="booked-card">


  <div class="alt-card-tool">
    <%= cl_image_tag @booking.tool.photos.first.key, height: 400, width: 400, crop: :fill %>

    </div>
    <br>

     <p>You're borrowing a <%= @booking.tool.name %> from <%= @booking.tool.user.first_name %>. Your booking is from <%= @booking.start_date %> until <%= @booking.start_date %>.</p>
      <%= link_to "Back To Dashboard", dashboard_path, class: "btn btn-flat" %>
  </div>
</div>

