<!-- the results in grid format will need to be iteration/dynamically generated for the page
they will appear on eg. the results page. below is only a sample if static.
'index' will be cards view of all existing listings -->

<div class="cards">

    <%= link_to tools_path(category: 'Power Tools'), id: "card-text" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('power_tools') %>)">
        <p> Power Tools </p>
      </div>
    <% end %>

    <%= link_to tools_path(category: 'Hand Tools'), id: "card-text" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('hand_tools') %>)">
        <p> Hand Tools </p>
      </div>
    <% end %>

    <%= link_to tools_path(category: 'Landscaping'), id: "card-text" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('landscaping') %>)">
        <p> Landscaping </p>
      </div>
    <% end %>

    <%= link_to tools_path(category: 'Automotive'), id: "card-text" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('automotive') %>)">
        <p> Automotive </p>
      </div>
    <% end %>

    <%= link_to tools_path(category: 'Machinery'), id: "card-text" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('machinery') %>)">
        <p> Machinery </p>
      </div>
    <% end %>

    <%= link_to tools_path(category: 'Other Tools'), id: "card-text" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('other') %>)">
        <p> Other Tools </p>
      </div>
    <% end %>

</div>





