<h1>My ToolBox</h1>

<%= "If this is being displayed, you have no tools listed." if current_user.tools.empty? %>

<div class="container">
<div class="cards">
  <% my_tools = current_user.tools  %>
  <% my_tools.each do |tool| %>
  <div class="my-tools">
  <% if tool.photos.attached? %>
      <%= cl_image_tag tool.photos.first.key, crop: :fill, height: 120, width: 120 %>
  <% else %>
    <img src="https://res.cloudinary.com/dsp3264/image/upload/v1582766145/support_xywvdk.png">
  <% end %>
  <div class="my-tools-infos">
    <h2><%= tool.name %></h2>
    <p>"A short description rendered here"</p>
      <%= link_to '<i class="fas fa-ellipsis-h"></i>'.html_safe, my_tool_path(tool: tool)%>
      <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_tool_path(tool) %>
      <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, tool_path(tool), method: :delete, data: { confirm: "Are you sure?" }%>
    </div>
  </div>
  <% end %>
  </div>
</div>

<h1>My Bookings</h1>

<%= "If this is being displayed, you have no bookings." if current_user.bookings.empty? %>

<div class="container">
<div class="cards">
  <% my_bookings = current_user.bookings  %>
  <% my_bookings.each do |booking| %>
  <div class="my-tools">
    <% if booking.tool.photos.attached? %>
      <%= cl_image_tag booking.tool.photos.first.key, crop: :fill, height: 120, width: 120 %>
    <% else %>
      <img src="https://res.cloudinary.com/dsp3264/image/upload/v1582766145/support_xywvdk.png">
    <% end %>
  <div class="my-tools-infos">
    <h2><%= booking.tool.name %></h2>
    <h2><%= booking.tool.user.first_name %></h2>
    <p><%= booking.start_date %> - <%= booking.end_date %> </p>
    <h2><%= link_to '<i class="fas fa-ellipsis-h"></i>'.html_safe, booking_path(booking) %></h2>
  </div>
  </div>
  <% end %>
  </div>
</div>
