<h1>My ToolBox</h1>

<%= "If this is being displayed, you have no tools listed." if current_user.tools.empty? %>

<div class="container">
<div class="tool-cards">
  <% my_tools = current_user.tools  %>
  <% my_tools.each do |tool| %>
  <div class="my-tools">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="my-tools-infos">
    <h2><%= tool.name %></h2>
    <p>"A short description rendered here"</p>
    <h2><%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_tool_path(tool) %>
      <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, tool_path(tool), method: :delete%></h2>
  </div>
  </div>
  <% end %>
  </div>
</div>

<h1>My Bookings</h1>

<%= "If this is being displayed, you have no bookings." if current_user.bookings.empty? %>

<div class="container">
<div class="tool-cards">
  <% my_bookings = current_user.bookings  %>
  <% my_bookings.each do |booking| %>
  <div class="my-tools">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="my-tools-infos">
    <h2><%= booking.tool.name %></h2>
    <h2><%= booking.tool.user.first_name %></h2>
    <p><%= booking.start_date %> - <%= booking.end_date %> </p>
  </div>
  </div>
  <% end %>
  </div>
</div>
